.bbp-search-form { 
    float: none;
}
#bbpress-forums #bbp-search-form #bbp_search{
    width: 270px;
    margin-right: 26px;
}
#bbp_search_submit{
    min-width: 170px;
    vertical-align: top;
}
div.bbp-breadcrumb {
    float: none;
}
#bbpress-forums div.bbp-search-form {
    margin-bottom: 23px;
}
