.profit  .motopress-image-obj .motopress-image-obj-basic {
  background: transparent !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
}