.main-slider-section {
  ul.slides {
    li {
      .slide-title {
        color: $brandBlue;
      }
      .slide-content {
        color: lighten($brandBlue, 10%);
      }
    }
  }
}

.consumibles-section {
  background:
          /* top, transparent red, faked with gradient */
          linear-gradient(
                          rgba(0, 0, 0, 0.15),
                          rgba(0, 0, 0, 0.15)
          ),
            /* bottom, image */
          url('../images/consumibles.png') 80px 20px repeat;
  @include background-size(cover);
  color: #ffffff;
  .section-subcontent {
    font-weight: 700;
    .section-title {
      color: $darker;
    }
    .section-subtitle {

    }
    .section-description {
      color: $dark;
    }
  }
}

.software-section, .seguridad-section {
  background: #efefef;
}

.accesorios-section {
  .section-content {
    .section-description {
      color: $dark;
      font-weight: 700;
      max-width: 350px;
    }
  }
  .section-right {
    left: 35%;
  }
}