$textColor: #6c7485;
$brandColor: #3498db;
$brandColorHover:#24282d;
$brandColorThecond:#dfecf4;
$grey:#9fa4a9;
$greyDark:#e6e6e6;
$greylight:#e3e3e3;
$blackColor:#1b1b1b;

$borderColor:#dadadb;

$imgShadow:#e3e3e3;
$imgBorder:#e6e6e6;


$fontFamily: 'Lato', sans-serif;
$fontFamilyVerdana:Verdana, Geneva, sans-serif;
$fontSizeBase: 14px;
$lineHieghtBase:1.42857;
$fontSizeH1:48px;
$fontSizeH2:36px;
$fontSizeH3:24px;
$fontSizeH4:20px;
$fontSizeH5:16px;
$fontSizeH6:14px;
$colorHeaders:#24282d;

$socialHCollor:#a5a5a5;
$socialHCollorHover:#27b399;

$pageHeaderBg:#f5f5f5;

$menuPrClolor:#657883;
$menuSubBG:#31353e;
$menuSubHoverBG:#22252b;
$menuSubColor:#a6aebe;
$menuSubColorHover:#ffffff;

$logoColor:#404040;
$taglineColor:#657883;

$footerWidgetsBg:#31353e;
$footerWidgetsColor:#6c7485;
$footerWidgetsLink:$brandColor;

$footerBottomBg:#22252b;
$footerBottomColor:#6c7485;
$footerBottomLink:$brandColor;

$footerSocialsColor:#9fa4a9;
$footerSocialsColorHover:#ffffff;

$commentsColor:#83868a;
$commentsBoder:#dadadb;


$breadcrumbSeporatorColor:#24282d;

$error:#ff8e8e;

$tableBorder: #dadadb;
$tableBgEven:#f5f5f5;

$thumbnailBorder:#d9e4ef;

$tabsBorder:#dadadb;
$accordingBorder:#9fa4a9;

$qouteBg:#d9e4ef;

$slidesNav:#4d5058;
$slidesNavActive:$brandColor;
$slideArrow:#ffffff;

$authorBoxBg:#ecf1f7;
$authorBoxBorder:#d9dbde;